html {
  background-color: #FBFDFF;
  margin: auto;
  scroll-behavior: smooth;
  max-width: 1920px;
  border: #ACD8FC 1px solid;
}
html section {
  min-height: 1000px;
}
html body {
  width: 100%;
  height: 100%;
  margin: 0;
}
html body p, html body a, html body li, html body span, html body label {
  color: #0D74CE;
}
html body label {
  font-size: 0.9em;
}
html body strong {
  font-size: 1.1em;
  color: #193B2D;
}
html body ul {
  list-style: none;
}
html body h1 {
  font-size: 3.5em;
}
html body h2 {
  font-size: 2.5em;
}
@media screen and (min-width: 769px) and (max-width: 1250px) {
  html body h2 {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 768px) {
  html body h2 {
    font-size: 1.5em;
  }
}
html body h3 {
  font-size: 1.5em;
}
@media screen and (min-width: 769px) and (max-width: 1250px) {
  html body h3 {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 768px) {
  html body h3 {
    font-size: 1.2em;
  }
}
html body h1, html body h2, html body h3 {
  color: #113264;
}

html.dark {
  background-color: #0D1520;
  border-color: #104D87;
}
html.dark body p, html.dark body a, html.dark body li, html.dark body span, html.dark body label {
  color: #70B8FF;
}
html.dark body label {
  font-size: 0.9em;
}
html.dark body strong {
  font-size: 1.1em;
  color: #B1F1CB;
}
html.dark body h1, html.dark body h2, html.dark body h3 {
  color: #C2E6FF;
}